@page "/events/{eventId:guid}/questions"

@if (_questions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul class="nav nav-tabs">
        @foreach (var question in _questions)
        {
            <li class="nav-item">
                <a class="nav-link @(question.Id == _currentQuestion.Id? "active" : "")" aria-current="page" @onclick="() => ChangeQuestion(question.Id)" href="#" @onclick:preventDefault>Question @question.Order</a>
            </li>
        }
    </ul>

    <QuestionView SelectedQuestion="@_currentQuestion"/>
}