<div class="content px-4">

    <h5>
        <strong>@SelectedQuestion.Order. @SelectedQuestion.Title</strong>
    </h5>
    
    <div class="question-point"><h5><span class="badge badge-info">Points: @SelectedQuestion.Point</span></h5></div>
    
    <hr />

    <div>
        <Markdown Text="@SelectedQuestion.Body" />
    </div>

</div>