@page "/admin/events/{eventId:guid}/questions/{id:guid}"


@if (_questionDetails == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h4>
        <strong>@_questionDetails.Title</strong>
    </h4>

    <p>
        <mark>
            <a href="/admin/events/@_questionDetails.Event.Id">@_questionDetails.Event.Title</a>
        </mark>
    </p>
   
    <button class="btn btn-info" @onclick=@NavigateToEditQuestion>Edit</button>

    <hr />

    <Markdown Text="@_questionDetails.Body" />
}