@page "/admin/events"

<h3>Events</h3>

@if (_events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var singleEvent in _events)
            {
            <tr>
                <td>@singleEvent.Title</td>
                <td>@singleEvent.StartDateTime.ConvertToDefaultDateFormat()</td>
                <td>@singleEvent.EndDateTime.ConvertToDefaultDateFormat()</td>
                <td>
                    <a href="/admin/events/@singleEvent.Id">View</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}